


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-password">
  Adicionar
</button>

<div id="change-password" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'home_animais'%}">{% csrf_token %}
      <div class="modal-body">
        
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" value="{{animais.nome}}" name="nome" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Escreva seu nome">
        </div>

        <div class="form-group">
            <label for="raca">Raça</label>
            <input type="text"  value="{{animais.raca}}" name="raca" class="form-control" id="raca" placeholder="raca">
        </div>

        <div class="form-group">
            <label for="sexo">Sexo</label>
            <input type="text"  value="{{animais.sexo}}" name="sexo" class="form-control" id="sexo" placeholder="sexo">
        </div>
        <div class="form-group">
            <label for="idade">Idade</label>
            <input type="text"  value="{{animais.idade}}" name="idade" class="form-control" id="idade" placeholder="idade">
        </div>

        <div class="form-group">
          <input type="hidden"  value="{{cliente_id}}" name="cliente_id" class="form-control" id="cliente_id">
        </div>

      </div>
      
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Adicionar</button>
      </div>
    </form>
    </div>
  </div>
</div>